<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @position.nom %>
</p>

<p>
  <b>Emplacement:</b>
  <%= @position.emplacement_id %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
