<h1>Listing emplacements</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Salle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emplacements.each do |emplacement| %>
  <tr>
    <td><%= emplacement.nom %></td>
    <td><%= emplacement.salle_id %></td>
    <td><%= link_to 'Show', emplacement %></td>
    <td><%= link_to 'Edit', edit_emplacement_path(emplacement) %></td>
    <td><%= link_to 'Destroy', emplacement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emplacement', new_emplacement_path %>
